.form-user {
  margin: 2rem auto;
  width: 60%;
  background: #d8d8d8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
}

.form-user_field {
  margin: 0.1rem 0;
  background: #636363;
  color: white;
  display: flex;
  flex-direction: column;
}

.form-user_field label {
  color: white;
  padding: 0.5rem 1rem;
  width: 50px;
}

.form-user_field input {
  margin: 1rem 1rem;
  background: #cfcfcf;
  color: rgb(0, 0, 0);
  padding: 0.5rem 0.5rem;
}
.form-user button {
  margin: 1rem auto;
  background: #8b005d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
}
